.btn-black {
	background-color: black;
	padding: 15px 20px;
	border-radius: 6px;
	color: whitesmoke;
	font-weight: bold;
 	font-family: 'Roboto' sans-serif;
}

.btn-black hover{
background-color: yellow;
transition: 2s;
}



